 .style0{fill:#64D9DD;}
 .style1{fill:#64D9DD;}
 .style2{fill:#64D9DD;}
 .style3{fill:#64D9DD;}
 .style4{fill:#64D9DD;}
 .style5{fill:#64D9DD;}
 .style6{fill:#64D9DD;}
 .style7{fill:#64D9DD;}
 .style8{fill:#64D9DD;}
 .style9{fill:#64D9DD;}
.style10{fill:#64D9DD;}
.style11{fill:#64D9DD;}
.style12{fill:#64D9DD;}
.style13{fill:#64D9DD;}
.style14{fill:#64D9DD;}
.style15{fill:#64D9DD;}
.style16{fill:#64D9DD;}
.style17{fill:#64D9DD;}
.style18{fill:#64D9DD;}
.style19{fill:#64D9DD;}
.style20{fill:#64D9DD;}
.style21{fill:#64D9DD;}
.style22{fill:#64D9DD;}
.style23{fill:#64D9DD;}
.style24{fill:#64D9DD;}
.style25{fill:#64D9DD;}
.style26{fill:#64D9DD;}
.style27{fill:#64D9DD;}
.style28{fill:#64D9DD;}
.style29{fill:#64D9DD;}
.style30{fill:#64D9DD;}
.style31{fill:#64D9DD;}
.style33{fill:#64D9DD;}
.style34{fill:#64D9DD;}
.style35{fill:#64D9DD;}
.style36{fill:#64D9DD;}
.style37{fill:#64D9DD;}
.style38{fill:#64D9DD;}
.style39{fill:#64D9DD;}
.style40{fill:#64D9DD;}
.style41{fill:#64D9DD;}
.style42{fill:#64D9DD;}
.style43{fill:#64D9DD;}
.style44{fill:#64D9DD;}
.style45{fill:#64D9DD;}
.style46{fill:#64D9DD;}
.style47{fill:#64D9DD;}
.style48{fill:#64D9DD;}
.style49{fill:#64D9DD;}
.style50{fill:#64D9DD;}
.style51{fill:#64D9DD;}
.style52{fill:#64D9DD;}
.style53{fill:#64D9DD;}
.style54{fill:#64D9DD;}
.style55{fill:#64D9DD;}
.style56{fill:#64D9DD;}
.style57{fill:#64D9DD;}
.style58{fill:#64D9DD;}