 .style0{fill:#001414;}
 .style1{fill:#F1F3F3;}
 .style2{fill:#9EB3FF;}
 .style3{fill:#BECACA;}
 .style4{fill:#5BD25D;}
 .style5{fill:#FF9B99;}
 .style6{fill:#5DC9D5;}
 .style7{fill:#F88FFF;}
 .style8{fill:#DEB35E;}
 .style9{fill:#FF9B99;}
.style10{fill:#62BC72;}
.style11{fill:#389449;}
.style12{fill:#DEB35E;}
.style13{fill:#AB9963;}
.style14{fill:#64500C;}
.style15{fill:#345093;}
.style16{fill:#4C5757;}
.style17{fill:#006112;}
.style18{fill:#873A36;}
.style19{fill:#005F66;}
.style20{fill:#7E338A;}
.style21{fill:#64500C;}
.style22{fill:#727E7E;}
.style23{fill:#001414;}
.style24{fill:#64D9DD;}
.style25{fill:#909D9D;}
.style26{fill:#C6D2D2;}
.style27{fill:#ACB9B9;}
.style28{fill:#001414;}
.style29{fill:#424D4D;}
.style30{fill:#272B2B;}
.style31{fill:#FFB3B3;}
.style32{fill:#5DC9D5;}
.style33{fill:#FFA6A3;}
.style34{fill:#850000;}
.style35{fill:#393C3C;}
.style36{fill:#224442;}
.style37{fill:#2F504E;}
.style38{fill:#3A5957;}
.style39{fill:#0A2421;}
.style40{fill:#102E2B;}
.style41{fill:#163735;}
.style42{fill:#005557;}
.style43{fill:#2F3333;}
.style44{fill:#5ED2D4;}
.style45{fill:#56CBCD;}
.style46{fill:#181B1B;}
.style47{fill:#1F2323;}
.style48{fill:#383D3D;}
.style49{fill:#3E4242;}
.style50{fill:#313535;}
.style51{fill:#5E6868;}
.style52{fill:#36AFB0;}
.style53{fill:#CC99FF;}
.style54{fill:#566161;}
.style55{fill:#5D6969;}
.style56{fill:#697373;}
.style57{fill:#354141;}
.style58{fill:#D6A100;}