 .style0{fill:#FAFFFF;}
 .style1{fill:#1F2323;}
 .style2{fill:#4560C9;}
 .style3{fill:#4C5757;}
 .style4{fill:#007A06;}
 .style5{fill:#B43631;}
 .style6{fill:#007380;}
 .style7{fill:#9D37A4;}
 .style8{fill:#855D00;}
 .style9{fill:#B43631;}
.style10{fill:#258837;}
.style11{fill:#5AB56A;}
.style12{fill:#855D00;}
.style13{fill:#9C8C54;}
.style14{fill:#DEC78C;}
.style15{fill:#ADC5FF;}
.style16{fill:#BECACA;}
.style17{fill:#79DC8B;}
.style18{fill:#FFB4B3;}
.style19{fill:#7CD7DF;}
.style20{fill:#F4ADFF;}
.style21{fill:#DEC78C;}
.style22{fill:#9EA9A9;}
.style23{fill:#FFFFFF;}
.style24{fill:#005F61;}
.style25{fill:#849090;}
.style26{fill:#424D4D;}
.style27{fill:#5D6969;}
.style28{fill:white;}
.style29{fill:#C6D2D2;}
.style30{fill:#ECEEEE;}
.style31{fill:#A01F1C;}
.style32{fill:#007380;}
.style33{fill:#AC2C2A;}
.style34{fill:#FFC7C7;}
.style35{fill:#DDDFDF;}
.style36{fill:#BBDDDA;}
.style37{fill:#B3D5D3;}
.style38{fill:#ACCDCB;}
.style39{fill:#E2F8F6;}
.style40{fill:#D8F3F1;}
.style41{fill:#CFEDEB;}
.style42{fill:#6BE2E6;}
.style43{fill:#DFE3E3;}
.style44{fill:#006B6B;}
.style45{fill:#007575;}
.style46{fill:#F7F8F8;}
.style47{fill:#F1F3F3;}
.style48{fill:#DCE0E0;}
.style49{fill:#D1D6D6;}
.style50{fill:#E4E7E7;}
.style51{fill:#B1BABA;}
.style52{fill:#129190;}
.style53{fill:#9157CB;}
.style54{fill:#B7C3C3;}
.style55{fill:#ACB9B9;}
.style56{fill:#A9B2B2;}
.style57{fill:#CED9D9;}
.style58{fill:#D6A100;}