 .style0{fill:#005F61;}
 .style1{fill:#005F61;}
 .style2{fill:#005F61;}
 .style3{fill:#005F61;}
 .style4{fill:#005F61;}
 .style5{fill:#005F61;}
 .style6{fill:#005F61;}
 .style7{fill:#005F61;}
 .style8{fill:#005F61;}
 .style9{fill:#005F61;}
.style10{fill:#005F61;}
.style11{fill:#005F61;}
.style12{fill:#005F61;}
.style13{fill:#005F61;}
.style14{fill:#005F61;}
.style15{fill:#005F61;}
.style16{fill:#005F61;}
.style17{fill:#005F61;}
.style18{fill:#005F61;}
.style19{fill:#005F61;}
.style20{fill:#005F61;}
.style21{fill:#005F61;}
.style22{fill:#005F61;}
.style23{fill:#005F61;}
.style24{fill:#005F61;}
.style25{fill:#005F61;}
.style26{fill:#005F61;}
.style27{fill:#005F61;}
.style28{fill:#005F61;}
.style29{fill:#005F61;}
.style30{fill:#005F61;}
.style31{fill:#005F61;}
.style33{fill:#005F61;}
.style34{fill:#005F61;}
.style35{fill:#005F61;}
.style36{fill:#005F61;}
.style37{fill:#005F61;}
.style38{fill:#005F61;}
.style39{fill:#005F61;}
.style40{fill:#005F61;}
.style41{fill:#005F61;}
.style42{fill:#005F61;}
.style43{fill:#005F61;}
.style44{fill:#005F61;}
.style45{fill:#005F61;}
.style46{fill:#005F61;}
.style47{fill:#005F61;}
.style48{fill:#005F61;}
.style49{fill:#005F61;}
.style50{fill:#005F61;}
.style51{fill:#005F61;}
.style52{fill:#005F61;}
.style53{fill:#005F61;}
.style54{fill:#005F61;}
.style55{fill:#005F61;}
.style56{fill:#005F61;}
.style57{fill:#005F61;}
.style58{fill:#005F61;}